
	@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');


			body {
				font-family: "Anuphan", sans-serif;
				color: rgb(38, 47, 97);
				text-align: center;
			}
	
			button {
				background-color: aquamarine;
			}

			button:hover {
				background-color: chocolate;
			}
			
			
			.img-circle {
				width: 20%;
				border-radius: 50%; 
				text-align: center;
				margin: auto;
				display: block;
				border: 3px solid #ddd;
			}
	
	